<div class="content">

<h5>Title: <%= @bookmarker.title() %></h5>
<p>Link:   <%= @bookmarker.url() %></p>
<p>Genre   <%= @bookmarker.genre() %></p>
<p>Details: <%= @bookmarker.details() %></p>

<hr>


</div>