<div class="content">

<b>Website:</b>
<p><%= @bookmarker.title() %></p>

<b>Genre</b>
<p><%= @bookmarker.genre %></p>

<b>Web Link</b>
<p><%= b@ookmarker.url %></p>

<b>Details</b>
<p><%= @bookmarker.details %></p>

</div>