<!doctype html>
<htl lang='en'>
<head>
<title>Bookmarker</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="brand">BOOKmarks</div>
    <div class="text-center">
      <a href="/bookmarker" class="button button__blue">Home</a>
      <a href="/bookmarker/new" class="button button__yellow">Add Bookmark</a>
      <a href="/bookmarker" class="button button__blue">AllBookmarks</a>
    </div>
  </header>

  <a href="/bookmarker/new">Add a Bookmark</a>

  <%= yield %>

</body>
</html>