<!doctype html>
<htl lang='en'>
<head>
 <meta charset='utf-8'>
<title>Bookmarker</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

  <header>
  <nav> 
    <div class="go-left">
        <div class="logo">BOOKmarks</div>
    </div>
    <div class="go-right">
      <ul>
         <li><a href="/bookmarker" class="button button__blue">Home</a></li>
          <li><a href="/bookmarker/new" class="button button__yellow">Add Bookmark</a></li>
          <li><a href="/bookmarker" class="button button__blue">AllBookmarks</a></li>
      </ul>
        </div>
    </nav>
  </header>
  <div class="wrap">


  <%= yield %>
</div>
</body>
</html>